* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    height: 1400px;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    background-color: rgba(209, 207, 207, 0.964);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

header {
    height: 70px;
    width: 100%;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav ul {
    margin: 3px 32px;
    float: right;
    padding: 0px 50px;
}

nav ul li {
    margin-top: 2px;
    display: inline-block;
    padding: 0px 15px;
    font-size: 22px;
    transition: all .2s linear 0s;
}

nav ul li img {
    color: white;
    margin: -6px 7px;
    display: inline-block;

}

.logotext {
    display: inline-block;
    margin: 20px 0px;
}

.userid {
    /* border: 2px solid black; */
    border-radius: 16px;
    margin-left: -50px;
}

.userid:hover {
    background-color: blue;
    color: white
}

.search {
    width: 550px;
    height: 40px;
    font-size: 20px;
    /* margin: 14px 35px; */
    margin-top: 14px;
    margin-right: 5px;
    float: right;
    border: none;
    border-radius: 8px;
    background-color: rgba(209, 207, 207, 0.964);
}

.button {
    width: 75px;
    height: 40px;
    font-size: 20px;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgba(209, 207, 207, 0.964);
}

.flipkartlogo {
    height: 82px;
    width: 150px;
    margin-top: -8px;
    margin-right: 40px;
    float: right;
}

.category {
    height: 150px;
    width: 99%;
    background-color: white;
    border: none;
    margin: 10px 5px;
    position: relative;
    left: 2px;
    display: flex;
    justify-content: space-evenly;
}

.categoryimage {
    height: 80px;
    width: 100px;
    margin-top: 25px;
    margin-left: 25px;

}

.categorytext {
    margin: 5px 45px;

}

.grocery,
.mobile,
.fashion,
.electronics,
.furniture,
.travel,
.toys,
.vehicle {
    margin: 2px 5px;
    display: inline-block;
}

.ad {
    height: 240px;
    width: 99%;
    background-color: white;
    border: none;
    margin: 10px 5px;
    background-image: url("ad.jpg");
    background-size: cover;
}

.bestitems1 {
    height: 300px;
    width: 97%;
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    padding: 20px 15px;
}

.bestitems1 h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 501;
    font-style: normal;
    font-size: x-large;
    margin-bottom: 10px;
}

.boxes1 {
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    height: 220px;
    width: 200px;
    border: 1px solid rgb(172, 168, 168);
}

.box1image {
    height: 150px;
    width: 180px;
    margin: 3px;
}

.box1text {
    padding: 0px 35px;
}

.price {
    padding: 0px 25px;
}

.shavertxt {
    /* padding: 0px 48px; */
    margin-left: 10px;
}

.cameraimg {
    height: 130px;
    width: 180px;
    margin: 3px;
}

.cameratxt {
    
    margin-left: -6px;
    margin-top: 14px;
}

.keyboardtxt {
    margin-left: -12px;
}

.keyboardimg {
    height: 150px;
    width: 170px;
    margin: 5px 15px;
}

.monitorprice {
    padding: 1px 13px;
}

.shaverprice {
    padding: 2px 3px;
}

.cameraprice {
    padding: 2px 15px;
}
.speakerimg{
    margin:0px 6px;
}

.speakertxt {
    padding: 9px 49px;
}

.speakerprice {
    padding: 0px 0px;
}

.bestitems2 {
    height: 300px;
    width: 97%;
    background-color: white;
    border: none;
    margin: 15px 6px;
    padding: 20px 15px;
}

.bestitems2 h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 501;
    font-style: normal;
    font-size: x-large;
    margin-bottom: 10px;
}
.boxes2 {
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: space-evenly;
    align-items: center;
}
.box2 {
    height: 220px;
    width: 200px;
    border: 1px solid rgb(172, 168, 168);
}
.box2image {
    height: 150px;
    width: 180px;
    margin: 3px;
}
.box2text {
    padding: 0px 35px;
}
.actiontoyimg{
    height: 150px;
    width: 180px;
    margin: 7px 9px;
}
.gymimg{
    height: 140px;
    width: 180px;
    margin: 12px 13px;
}
.cycleimg{
    height: 149px;
    width: 175px;
    margin: 10px 10px;
}
.guitarimg{
    height: 149px;
    width: 175px;
    margin: 12px 8px;
}
.dryfruitimg{
    height: 149px;
    width: 175px;
    margin: 12px 8px;
}
.actiontoytxt{
    margin: 0px 18px;
}
.actiontoyoffer{
    margin:0px 40px;
}
.gymtxt{
    margin: 1px 45px;
}
.gymoffer{
    margin:0px 49px;
}
.cycletxt{
    margin: 0px 33px;
}
.cycleoffer{
    margin:0px 40px;
}
.guitartxt{
    margin:0px 40px;
}
.guitaroffer{
    margin:0px 45px;
}
.dryfruittxt{
    margin:0px 63px;
    margin-top: -9px;
}
.dryfruitoffer{
    margin:0px 45px;
}
footer{
    height: 200px;
    background-color: rgb(28, 21, 21);
    display: flex;
    justify-content: space-around;
}
.about{
    color: white;
    display: inline-block;
    margin: 26px 19px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: small;
}
.text{
    color:rgb(150, 146, 146);
    margin-bottom: 8px;
    margin-left: 3px;
}
.about ul{
    list-style: none;
    text-decoration: none;
}
.companies{
    color: white;
    display: inline-block;
    margin: 26px 19px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: small; 
}
.companies ul{
    list-style: none;
    text-decoration: none;
}
.help{
    color: white;
    display: inline-block;
    margin: 26px 19px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: small;
}
.help ul{
    list-style: none;
    text-decoration: none;
}
.policy{
    color: white;
    display: inline-block;
    margin: 26px 19px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: small; 
}
.policy ul{
    list-style: none;
    text-decoration: none;
}
